body {
    font-family: 'Edu QLD Beginner', cursive;
}

:root {
    --gradient: linear-gradient(45deg, rgba(232, 215, 241, 1) 7%, rgba(204, 153, 254, 1) 39%, rgba(96, 159, 238, 1) 69%, rgba(94, 112, 236, 1) 90%);
}

header {
    background-color: #e4e4e4;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1,
nav,
ul,
li {
    display: inline-block;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    background-image: var(--gradient);
    background-size: 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 10s infinite alternate;
}

li {
    font-size: 1.5rem;
    margin: 0 1.5rem;
    color: #cc99fe;
}

a {
    text-decoration: none;
    position: relative;
}

a:focus {
    color: rgba(96, 159, 238, 1);
}


@keyframes gradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    animation: dissapear 1s 2.5s forwards;
    z-index: 100;
}

img {
    transform: scale(0.1);
    animation: scale-up 2.5s forwards;
}

@keyframes scale-up {
    100% {
        transform: scale(0.25);
    }
}

@keyframes dissapear {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

a::after {
    content: "";
    position: absolute;
    background-color: rgba(96, 159, 238, 1);
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.25s;
}

a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}